# List of files and directories to backup.
# Examples of valid entries:
# /path/to/file
# /path/to/directory
# /path/to/pattern.??
# /path/to/*.ext


/etc/systemd/system/kioan-backup.service
/etc/systemd/system/kioan-backup.timer

/etc/sysconfig/network-scripts/
/etc/firewalld/
/usr/local/sbin/
/usr/local/etc/
 
